#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  overflow: hidden;
}

.container{
  display: flex;
}

/* child ao lado do formulário*/

.parede{
  position: relative;
  bottom: 32px;
  left: 65px;
  background-color: #1CAC78;
  width: 860px;
  height: 645px;
  
}

.parede>h1{
  color: white;
  font-size: 60px;
  position: relative;
  top: 50px;
}

/* Formulário */

*{
  margin: 0;
  padding: 0;
}
.formulario{
  position: relative;
  right: 10px;
  width: 375px;
  top: 125px;
}

h1{
  font-size: 48px;
  color:  #1CAC78;
  padding: 2px 0 10px 0;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
  text-decoration: none;
}

p{
  margin-bottom:15px;
}
 

 
label{
  color: #405c60;
  position: relative;
}

/* placeholder */
::-webkit-input-placeholder  {
  color: #bebcbc; 
  font-style: italic;
}
 
input:-moz-placeholder,
textarea:-moz-placeholder{
  color: #bebcbc;
  font-style: italic;
}

input {
  outline: none;
}
 
/*estilo dos input*/
input:not([type="checkbox"]){
  width: 95%;
  margin-top: 4px;
  padding: 10px;    
  border: 1px solid #b2b2b2;
 
  -webkit-border-radius: 3px;
  border-radius: 3px;
 
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
 
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
 
/*estilo do botão submit */
input[type="submit"]{
  width: 100%!important;
  cursor: pointer;  
  background: #1CAC78;
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;  
  border: 1px solid #fff;   
  margin-bottom: 10px;  
  text-shadow: 0 1px 1px #333;
 
  -webkit-border-radius: 5px;
  border-radius: 5px;
 
  transition: all 0.2s linear;
}
 
/*estilo do botão submit no hover */
input[type="submit"]:hover{
  background: rgb(253, 253, 253);
  color: #1CAC78;
}




/* HEADER */

.barra{
  background-color: #1CAC78;
  background-attachment: fixed;
  width: 1370px;
  height: 200px;
  position: relative;
  bottom: 110px;
  right: 43px;
  border-bottom: double white 25px;

}

.titleHeader{
position: absolute;
left: 45px;
bottom: 10px;
color: white;
}

.containerMenu{
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 85px;
}



.styleMenu{
  background-color: white;
  border: none;
  color: #1CAC78;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;

}

.styleMenu:hover{
  color: #0a6b46;

}



/* TELA HOME */
.containerHome{
  display: flex;
}

.BlocoHomeEsq{
  width: 750px;
  position: relative;
}

.TitleHome{
  position: relative;
  bottom: 25px;
}

.BlocoHomeDir{
  
  width: 500px;
  height: 300px;
}

.imgHome{
  position: relative;
  bottom: 60px;
  left: 5px;
  border-left: solid rgba(168, 166, 166, 0.315);
  width: 550px;
  height: 400px;
}


/*TELA DE CADASTRO*/

.containerCadastro{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 150px;
  
}

.ListagemCad{
  color: black;
  font-size: 30px;
  position: relative;
  right: 145px;
}

.botaoCad{
    background-color: #1cac77e5; 
    border: solid #1CAC78;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 130px;
    height: 40px;
    position: relative;
    left: 215px;
    cursor: pointer;
}
.botaoCad:hover{
  background-color: white;
  border: solid #1CAC78;
  color: #1CAC78;
}

.botaoexc{
  background-color: rgba(201, 15, 15, 0.918); 
    border: solid rgb(201, 15, 15);
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 130px;
    height: 40px;
    position: relative;
    left: 65px;
    cursor: pointer;
}

.botaoexc:hover{
  background-color: white;
  border: solid rgb(201, 15, 15);
  color: rgb(201, 15, 15);
}

.menuCadastro{
  background-color: rgba(240, 240, 240, 0.932);
  border: solid rgba(235, 232, 232, 0.932);
  border-radius: 8px;
  width: 600px;
  height: 425px;
  position: absolute;
  bottom: 90px;
  right: 400px;
  
}
.menuCadastro > h1{
  font-size: 35px;
}

.confirmar{
  background-color: #1cac77e5; 
  border: solid #1CAC78;
  border-radius: 8px;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 140px;
  height: 40px;
  position: relative;
  left: 0px;
  top: 10px;
  cursor: pointer;
}

.confirmar:hover{
  background-color: white;
  border: solid #1CAC78;
  color: #1CAC78;
}

/*Area Destinada ao Posicionamento geral em telas*/
.headerPosition{
  position: relative;
  bottom: 117px;
}

.botaoFechar{
  background-color:rgba(240, 240, 240, 0.932);
  border: none;
  cursor: pointer;
  position: relative;
  left: 270px;
  top: 15px;
}